<style media="screen">
  .special-disabled {
    background-color: white !important;
    color: #3B4752 !important;
    border-color: #3B4752 !important;
  }
</style>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-8">
        <%= render 'form' %>
      </div>
      <div class="col-sm-3 col-sm-offset-1">
        <form class="form-horizontal">

          <div class="form-group">
            <label class="col-sm-4 control-label">Subtotal</label>
            <div class="col-sm-8">
              <%= text_field_tag :subtotal, @booking.subtotal, class: 'form-control special-disabled', disabled: true %>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-4 control-label">Discount</label>
            <div class="col-sm-8">
              <%= text_field_tag :discount, @booking.discount, class: 'form-control special-disabled', disabled: true %>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-4 control-label">Total</label>
            <div class="col-sm-8">
              <%= text_field_tag :total, @booking.final_total, class: 'form-control special-disabled', disabled: true %>
            </div>
          </div>

        </form>

      </div>
    </div>
    <div class="btn-group">
      <%= link_to 'Edit', edit_admin_booking_path(@booking), class: 'btn btn-primary' if @readonly %>
      <%= link_to 'Create Invoice', new_admin_invoice_path(booking_id: @booking), class: 'btn btn-info' if @readonly %>
    </div>
  </div>
</div>
