<div class="panel panel-default" data-pages="portlet">
    <div class="panel-heading">
        <div class="panel-title">
          Services
        </div>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">

            <div class="form-group">
                <label for="service" class="col-sm-6 control-label">Service</label>
                <div class="col-sm-6">
                    <%= text_field_tag 'service', t(booking.service.name), class: 'form-control text-right text-right', readonly: true %>
                </div>
            </div>

            <% booking.addons.each do |a| %>
            <div class="form-group">
                <!-- <label for="" class="col-sm-6 control-label">Service Time</label> -->
                <%= label_tag t(a.extra.name), t(a.extra.name), class: 'col-sm-6 control-label' %>
                <div class="col-sm-6">
                  <% if a.extra.quantity_based %>
                    <%= text_field_tag t(a.extra.name), a.quantity, class: 'form-control text-right', readonly: true %>
                  <% else %>
                    <div class="checkbox check-success">
                      <%= check_box_tag '', true, true, readonly: true %>
                      <%= label_tag '' %>
                    </div>
                  <% end %>

                </div>
            </div>
            <% end %>
        </form>
    </div>
</div>
