<div class="row p-b-20">
  <div class="col-sm-3">
    <%= render partial: 'booking_widget', locals: { data: @bookings_daily  , name: 'Daily new bookings'   , background: 'complete' } %>
  </div>
  <div class="col-sm-3">
    <%= render partial: 'booking_widget', locals: { data: @bookings_weekly , name: 'Weekly new bookings'  , background: 'success' } %>
  </div>
  <div class="col-sm-3">
    <%= render partial: 'booking_widget', locals: { data: @bookings_monthly, name: 'Monthly new bookings' , background: 'complete' } %>
  </div>
  <div class="col-sm-3">
    <%= render partial: 'booking_widget', locals: { data: @bookings_yearly , name: 'Yearly new bookings'  , background: 'success' } %>
  </div>
</div>

<div class="panel panel-default bg-white">

    <div class="panel-heading">
      <%= form_for_filterrific @filterrific do |f| %>
      <div class="row">
        <div class="col-sm-2">
          <%= f.select :with_status_ids, Booking.statuses.collect { |k,v| ["#{k.humanize.capitalize} (#{Booking.send(k).count})", v] }, { include_blank: "All (#{Booking.count})" }, { class: 'form-control' } %>
        </div>
        <div class="col-sm-2">
          <%= link_to 'Reset filters', reset_filterrific_url, class: 'btn btn-default' %>
        </div>
      </div>
      <%# render_filterrific_spinner %>
      <% end %>
    </div>

    <div class="panel-body">
      <div id="filterrific_results">
        <%= render partial: 'list', locals: { bookings: @bookings } %>
      </div>
    </div>

  </div>
</div>
