<p>
  <%= f.radio_button :frequency, :week %>
  <%= f.label :frequency_week, 'Weekly' %>

  <%= f.radio_button :frequency, :fortnight %>
  <%= f.label :frequency_fortnight, 'Fortnight' %>

  <%= f.radio_button :frequency, :once %>
  <%= f.label :frequency_once, 'Once' %>
</p>
