<%= render 'footers/social' %>

<section class="p-b-70 p-t-55 bg-master-light">
  <div class="container">
    <div class="row m-b-20">
      <div class="text-center">
          <%= inline_svg 'shiny-logo.svg', height: 24, class: 'logo fill-master' %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <ul class="list-unstyled footer-links">
          <li>
            <a href="tel:+<%= ENV['PHONE_NUMBER_PLAIN'] %>" class="link text-master">
              <!-- <i class="fa fa-phone"></i> -->
              <span>www.getshiny.ru</span>
            </a>
          </li>
          <li>
            <a href="tel:+<%= ENV['PHONE_NUMBER_PLAIN'] %>" class="link text-master">
              <!-- <i class="fa fa-phone"></i> -->
              <span><%= ENV['PHONE_NUMBER'] %></span>
            </a>
          </li>
          <li>
            <a href="mailto:<%= ENV['SUPPORT_EMAIL'] %>" class="link text-master">
              <!-- <i class="fa fa-envelope-o"></i> -->
              <span><%= ENV['SUPPORT_EMAIL'] %></span>
            </a>
          </li>
        </ul>
      </div>

      <div class="col-xs-6">
        <ul class="list-unstyled footer-links text-right">
          <!-- <li><%= link_to t('menu.order') , "#"                       , class: "link text-master" , data: { toggle: 'modal', target: '#orderModal' } %></li> -->
          <%= login_link %>
          <li><%= link_to t('menu.blog')  , "http://blog.getshiny.ru" , class: "link text-master" , target: '_blank' %></li>
          <li><%= link_to t('menu.about') , about_path                , class: "link text-master" , data: { turbolinks: false } %></li>
          <li><%= link_to t('menu.qa')    , questions_path            , class: "link text-master" , data: { turbolinks: false } %></li>
          <li><%= link_to t('menu.terms') , terms_path                , class: "link text-master" , data: { turbolinks: false } %></li>
        </ul>
      </div>
    </div>

    <div class="row text-center text-master-dark">
      <small><%= t('accept_payments') %></small>
      <br>
      <br>
      <i class="fa fa-2x fa-cc-mastercard"></i>
      &nbsp;
      <i class="fa fa-2x fa-cc-visa"></i>
    </div>

  </section>

  <section class="p-b-40 p-t-40">
    <div class="text-center">
      Made with
      <i class="fa fa-heart text-red"></i>
      <span> by</span>
      <b> The Shiny Team</b>
    </div>

    <div class="m-t-20 text-center">
      <small class="text-center">
        <%= t('company.name') %>,
        <%= t('company.street') %>,
        <%= t('company.city') %>
      </small>
    </div>
  </div>
