<section class="p-b-60 p-t-60 b-b b-grey">
    <div class="container text-center">
        <div class="row m-b-60">
            <div class="col-sm-8 col-sm-offset-2">
                <h1 class="text-uppercase">
                    <b><%= t('beta.section2.title') %></b>
                </h1>
                <h5 class="m-b-0"><%= t('beta.section2.subtitle') %></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 m-b-40">
                <%= image_tag 'id_card.svg', height: 100, class: 'm-b-20' %>
                <h4 class="block-title"><%= t('beta.section2.item1.title') %></h4>
                <p class="p-l-20 p-r-20"><%= t('beta.section2.item1.text') %></p>
            </div>
            <div class="col-sm-4 m-b-40">
                <%= image_tag 'calendar.svg', height: 100, class: 'm-b-20' %>
                <h4 class="block-title"><%= t('beta.section2.item2.title') %></h4>
                <p class="p-l-20 p-r-20"><%= t('beta.section2.item2.text') %></p>
            </div>
            <div class="col-sm-4">
                <%= image_tag 'professional.svg', height: 100, class: 'm-b-20' %>
                <h4 class="block-title"><%= t('beta.section2.item3.title') %></h4>
                <p class="p-l-20 p-r-20"><%= t('beta.section2.item3.text') %></p>
            </div>

        </div>
    </div>
</section>
