<%= content_tag :section, class: 'p-t-50 p-b-50 jumbotron', data: { pages: 'parallax', pages_bg_image: image_path('hero_section_2.jpg'), bg_overlay: 'white', overlay_opacity: '0.75' } do %>
<div class="container-xs-height full-height m-t-100 m-b-100">
    <div class="col-xs-height col-middle text-left">

        <div class="content-layer">
            <div class="container-xs-height full-height">
                <div class="col-xs-height col-middle text-center">
                    <div class="container">
                        <div class="row m-b-60">
                            <div class="col-md-10 col-md-offset-1">
                                <h6 class="block-title m-b-0 text-center text-black"><%= t('beta.section7.title') %></h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-10 col-sm-6 col-md-4 col-xs-offset-1 col-sm-offset-3 col-md-offset-4">
                              <% if user_signed_in? %>
                                <%= link_to t('beta.section7.button'), clean_path, class: "btn btn-lg btn-bordered btn-black block-title btn-block", data: { turbolinks: false } %>
                              <% else %>
                                <a class="btn btn-lg btn-bordered btn-black block-title btn-block" href="#" data-toggle="modal" data-target="#modalAuth"><%= t('beta.section7.button') %></a>
                              <% end %>
                            </div>
                            <div class="col-xs-12 text-center">
                              <u><a href="#" class="text-black text-underline" data-toggle="modal" data-target="#checklist_modal"><small><%= t('beta.checklist') %></small></a></u>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% end %>
