<!-- Modal -->
<div class="modal fade slide-up" id="checklist_modal" tabindex="-1" role="dialog" aria-labelledby="modalSlideUpLabel" aria-hidden="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="pg-close"></i>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="row m-b-40">
                        <div class="col-sm-8 col-sm-offset-2 text-center">
                            <h3><%= t('beta.package.title') %></h3>
                        </div>
                    </div>
                    <div class="row p-t-40 p-b-40 b-b b-grey">
                        <div class="col-sm-6">
                            <%= image_tag 'checklist1.jpg', class: 'img-responsive' %>
                        </div>
                        <div class="col-sm-6">
                            <h4 class="lead"><%= t('beta.package.section1.title') %></h4>
                            <ul>
                                <li><%= t('beta.package.section1.item1') %></li>
                                <li><%= t('beta.package.section1.item2') %></li>
                                <li><%= t('beta.package.section1.item3') %></li>
                                <li><%= t('beta.package.section1.item4') %></li>
                                <li><%= t('beta.package.section1.item5') %></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row p-t-40 p-b-40 b-b b-grey">
                        <div class="col-sm-6">
                            <%= image_tag 'checklist2.jpg', class: 'img-responsive' %>
                        </div>
                        <div class="col-sm-6">
                            <h4 class="lead"><%= t('beta.package.section2.title') %></h4>
                            <ul>
                                <li><%= t('beta.package.section2.item1') %></li>
                                <li><%= t('beta.package.section2.item2') %></li>
                                <li><%= t('beta.package.section2.item3') %></li>
                                <li><%= t('beta.package.section2.item4') %></li>
                                <li><%= t('beta.package.section2.item5') %></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row p-t-40 p-b-40 b-b b-grey">
                        <div class="col-sm-6">
                            <%= image_tag 'checklist3.jpg', class: 'img-responsive' %>
                        </div>
                        <div class="col-sm-6">
                            <h4 class="lead"><%= t('beta.package.section3.title') %></h4>
                            <ul>
                                <li><%= t('beta.package.section3.item1') %></li>
                                <li><%= t('beta.package.section3.item2') %></li>
                                <li><%= t('beta.package.section3.item3') %></li>
                                <li><%= t('beta.package.section3.item4') %></li>
                                <li><%= t('beta.package.section3.item5') %></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row p-t-40 p-b-40 b-b b-grey">
                        <div class="col-sm-6">
                            <%= image_tag 'checklist4.jpg', class: 'img-responsive' %>
                        </div>
                        <div class="col-sm-6">
                            <h4 class="lead"><%= t('beta.package.section4.title') %></h4>
                            <ul>
                                <li><%= t('beta.package.section4.item1') %></li>
                                <li><%= t('beta.package.section4.item2') %></li>
                                <li><%= t('beta.package.section4.item3') %></li>
                                <li><%= t('beta.package.section4.item4') %></li>
                                <li><%= t('beta.package.section4.item5') %></li>
                                <li><%= t('beta.package.section4.item6') %></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row p-t-40 p-b-40">
                        <div class="row">
                            <div class="col-xs-12">
                                <h5 class="text-center"><%= t('beta.package.section5.title') %></h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <ul>
                                    <li><%= t('beta.package.section5.item1') %></li>
                                    <li><%= t('beta.package.section5.item2') %></li>
                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <ul>
                                    <li><%= t('beta.package.section5.item3') %></li>
                                    <li><%= t('beta.package.section5.item4') %></li>
                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <ul>
                                    <li><%= t('beta.package.section5.item5') %></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>
    <!-- /.modal-dialog -->
</div>
