<section class="p-b-30 p-t-30 bg-white">
    <div class="container">
      <h5 class="text-center"><%= t('partners_and_press') %></h5>
        <div class="row row-sm-height">



          <div class="col-sm-2 col-sm-height col-middle">
            <a href="http://rosinka.ru/" target="_blank">
              <%= image_tag 'rosinka_color.jpg', class: 'img-responsive center-block mx-auto' %>
            </a>
          </div>

          <div class="col-sm-2 col-sm-height col-middle">
            <a href="http://www.expat.ru/phonedir.php?cid=87" target="_blank">
              <%= image_tag 'expat_ru_color.jpg', class: 'img-responsive center-block' %>
            </a>
          </div>

          <div class="col-sm-2 col-sm-height col-middle">
            <a href="http://www.moscowgoesout.com/single-post/2017/06/19/SHINY---HOME-CLEANING-SERVICE" target="_blank">
              <%= image_tag 'moscow_goes_out_color.jpg', class: 'img-responsive center-block' %>
            </a>
          </div>

          <div class="col-sm-2 col-sm-height col-middle">
            <a href="http://www.cleannow.ru/" target="_blank">
              <%= image_tag 'clean_now_color.jpg', class: 'img-responsive center-block' %>
            </a>
          </div>

          <div class="col-sm-2 col-sm-height col-middle">
            <a href="http://www.iwcmoscow.ru/" target="_blank">
              <%= image_tag 'iwc_color.jpg', class: 'img-responsive center-block' %>
            </a>
          </div>

          <div class="col-sm-2 col-sm-height col-middle">
            <a href="https://brodude.ru/7-servisov-kotorye-sdelayut-tvoyu-zhizn-legche-8/" target="_blank">
              <%= image_tag 'brodude_color.jpg', class: 'img-responsive center-block' %>
            </a>
          </div>

        </div>
    </div>
</section>
