<%= f.fields_for :address_attributes do |ff| %>

<div class="form-group-attached">
    <div class="form-group form-group-default required">
        <%= ff.label :street %>
        <%= ff.text_field :street, class: "form-control" %>
    </div>

    <div class="row">
        <div class="col-xs-6 col-sm-3">
            <div class="form-group form-group-default">
                <%= ff.label :house %>
                <%= ff.text_field :house, class: "form-control" %>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="form-group form-group-default">
                <%= ff.label :block %>
                <%= ff.text_field :block, class: "form-control" %>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="form-group form-group-default">
                <%= ff.label :building %>
                <%= ff.text_field :building, class: "form-control" %>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="form-group form-group-default">
                <%= ff.label :apartment %>
                <%= ff.text_field :apartment, class: "form-control" %>
            </div>
        </div>
    </div>
</div>

<% end %>
