<div class="row m-t-90">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-default">

            <div class="panel-body">

                <%= render 'shared/flash' %>

                <div class="text-center m-t-20">
                    <%= image_tag 'shiny_logo_old.png', class: 'logo', height: 40 %>
                    <h4 class="m-t-40"><%= t '.change_your_password' %></h4>
                </div>

                <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
                <%# devise_error_messages! %>
                <%= f.hidden_field :reset_password_token %>

                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="form-group form-group-default required">
                            <%= f.label :password, t('.new_password') %>
                            <%= f.password_field :password, autocomplete: false, class: 'form-control' %>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="form-group form-group-default required">
                            <%= f.label :password_confirmation, t('.confirm_new_password') %>
                            <%= f.password_field :password_confirmation, autocomplete: false, class: 'form-control' %>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <%= f.submit t('.change_my_password'), class: 'btn btn-primary btn-block' %>
                    </div>
                </div>
                <% end %>

                <div class="row m-t-20">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <%= render "devise/shared/links" %>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
