<div class="row p-b-20">
  <div class="col-sm-3">
    <%= render partial: 'sales_widget_chart', locals: { data: @charges_daily  , name: 'Daily sales'   , background: 'complete' } %>
  </div>
  <div class="col-sm-3">
    <%= render partial: 'sales_widget_chart', locals: { data: @charges_weekly , name: 'Weekly sales'  , background: 'success' } %>
  </div>
  <div class="col-sm-3">
    <%= render partial: 'sales_widget_chart', locals: { data: @charges_monthly, name: 'Monthly sales' , background: 'complete' } %>
  </div>
  <div class="col-sm-3">
    <%= render partial: 'sales_widget_chart', locals: { data: @charges_yearly , name: 'Yearly sales'  , background: 'success' } %>
  </div>
</div>

<div class="panel panel-default">

  <div class="panel-heading">
    <%= form_for_filterrific @filterrific do |f| %>
    <div class="row">
      <div class="col-sm-2">
        <%= f.text_field :search_query, class: 'filterrific-periodically-observed form-control', placeholder: 'Search' %>
      </div>
      <div class="col-sm-2">
        <div id="datepicker" class="input-group date">
          <%= f.text_field :with_date_equal, class: "form-control", disabled: @readonly, placeholder: 'Date' %>
          <span class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </span>
        </div>
      </div>
      <div class="col-sm-2">
        <%= f.select :with_status_ids, Invoice.statuses.collect { |s| ["#{s[0]} (#{Invoice.send(s[0]).count})", s[1]] }, { include_blank: "All (#{Invoice.count})" }, { class: 'form-control' } %>
      </div>
      <div class="col-sm-2">
        <%= f.select :sorted_by, @filterrific.select_options[:sorted_by], { include_blank: false }, class: 'form-control' %>
      </div>
      <div class="col-sm-2">
        <%= link_to 'Reset filters', reset_filterrific_url, class: 'btn btn-default' %>
      </div>
    </div>
    <%# render_filterrific_spinner %>
    <% end %>
  </div>

  <!-- <div class="row">
      <div class="col-sm-6">
        <%= link_to 'Create Invoice', new_admin_invoice_path, class: 'btn btn-default' %>
      </div>
      <div class="col-sm-6">
        <div class="pull-right">

        </div>
      </div>
    </div>
  </div> -->

  <div class="panel-body">
    <div id="filterrific_results">
      <%= render partial: 'list', locals: { invoices: @invoices } %>
    </div>
  </div>
</div>

<% content_for :foot do %>
<script type="text/javascript">
  $(document).ready(function () {
    $('#datepicker').datepicker({format: 'dd/mm/yyyy'});
  });
</script>
<% end %>
