<%= content_tag :section, class: 'jumbotron height-80-percent', data: { pages: 'parallax', pages_bg_image: image_path('hero_section_1.jpg'), bg_overlay: 'black', overlay_opacity: '0.05' } do %>
  <div class="container-xs-height full-height">
  <div class="col-xs-height col-middle text-left">

      <div class="content-layer">
          <div class="inner full-height">
              <div class="container-xs-height full-height">
                  <div class="col-xs-height col-middle text-center">
                      <div class="container">
                          <div class="row m-b-60">
                              <div class="col-md-10 col-md-offset-1">
                                  <h2 class="light text-black text-uppercase"><%=raw t('beta.section1.title') %></h2>
                                  <h5 class="m-t-5 block-title text-black"><%= t('beta.section1.subtitle') %></h5>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-xs-10 col-xs-offset-1">
                                  <div class="row">
                                      <div class="col-sm-5 m-b-40">
                                          <!-- <a href="#" class="btn btn-lg btn-bordered btn-black block-title btn-block">Book a clean</a> -->
                                          <% if user_signed_in? %>
                                          <%= link_to t('beta.section1.button1') , clean_path, class: "btn btn-lg btn-bordered btn-black block-title btn-block", data: { turbolinks: false } %>
                                      <% else %>
                                          <a class="btn btn-lg btn-bordered btn-black block-title btn-block" href="#" data-toggle="modal" data-target="#modalAuth" data-text="<%= t('book_a_clean') %>"><%= t('beta.section1.button1') %></a>
                                          <% end %>
                                      </div>
                                      <div class="col-sm-5 col-sm-offset-2">
                                          <button class="btn btn-lg btn-bordered btn-black block-title btn-block" data-toggle="modal" data-target="#callback_modal"><%= t('beta.section1.button2') %></button>
                                      </div>
                                  </div>

                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>
<% end %>

<section class="p-b-60 p-t-60 b-b b-grey">
  <div class="container text-center">
      <div class="row m-b-60">
          <div class="col-sm-8 col-sm-offset-2">
              <h1 class="text-uppercase">
                  <b><%= t('beta.section2.title') %></b>
              </h1>
              <h6 class="block-title m-b-0 "><%= t('beta.section2.subtitle') %></h6>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-4 m-b-40">
              <%= image_tag 'id_card.svg', height: 100, class: 'm-b-20' %>
              <h4 class="block-title"><%= t('beta.section2.item1.title') %></h4>
              <p class="p-l-20 p-r-20"><%= t('beta.section2.item1.text') %></p>
          </div>
          <div class="col-sm-4 m-b-40">
              <%= image_tag 'calendar.svg', height: 100, class: 'm-b-20' %>
              <h4 class="block-title"><%= t('beta.section2.item2.title') %></h4>
              <p class="p-l-20 p-r-20"><%= t('beta.section2.item2.text') %></p>
          </div>
          <div class="col-sm-4">
              <%= image_tag 'professional.svg', height: 100, class: 'm-b-20' %>
              <h4 class="block-title"><%= t('beta.section2.item3.title') %></h4>
              <p class="p-l-20 p-r-20"><%= t('beta.section2.item3.text') %></p>
          </div>

      </div>
  </div>
</section>

<section class="p-t-100 bg-master-lightest b-b b-grey">
  <div class="container">
    <div class="row m-b-60">
        <div class="col-sm-12 col-md-7">
            <h1 class="text-uppercase">
                <b><%= t('beta.section3.title') %></b>
            </h1>
            <h6 class="block-title m-b-40"><%= t('beta.section3.subtitle') %></h6>

            <div class="row">
                <div class="col-xs-12 col-sm-6 m-b-40">
                    <div class="row">
                        <div class="col-xs-3">
                            <%= image_tag 'timer.svg', width: 60, class: 'm-b-10' %>
                        </div>
                        <div class="col-xs-9">
                            <h6 class="block-title p-b-5"><%= t('beta.section3.item1.title') %></h6>
                            <p><%= t('beta.section3.item1.text') %></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 m-b-40">
                    <div class="row">
                        <div class="col-xs-3">
                            <%= image_tag 'credit_card.svg', width: 60, class: 'm-b-10' %>
                        </div>
                        <div class="col-xs-9">
                            <h6 class="block-title p-b-5"><%= t('beta.section3.item2.title') %></h6>
                            <p><%= t('beta.section3.item2.text') %></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 m-b-40">
                    <div class="row">
                        <div class="col-xs-3">
                            <%= image_tag 'chatting.svg', width: 60, class: 'm-b-10' %>
                        </div>
                        <div class="col-xs-9">
                            <h6 class="block-title p-b-5"><%=raw t('beta.section3.item3.title') %></h6>
                            <p><%=raw t('beta.section3.item3.text', email: ENV['SUPPORT_EMAIL'], telephone: ENV['PHONE_NUMBER']) %></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 m-b-40">
                    <div class="row">
                        <div class="col-xs-3">
                            <%= image_tag 'dollar.svg', width: 60, class: 'm-b-10' %>
                        </div>
                        <div class="col-xs-9">
                            <h6 class="block-title p-b-5"><%= t('beta.section3.item4.title') %></h6>
                            <p><%= t('beta.section3.item4.text') %></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 m-b-40">
                    <div class="row">
                        <div class="col-xs-3">
                            <%= image_tag 'pet.svg', width: 60, class: 'm-b-10' %>
                        </div>
                        <div class="col-xs-9">
                            <h6 class="block-title p-b-5"><%= t('beta.section3.item5.title') %></h6>
                            <p><%= t('beta.section3.item5.text') %></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 m-b-40">
                    <div class="row">
                        <div class="col-xs-3">
                            <%= image_tag 'promotion.svg', width: 60, class: 'm-b-10' %>
                        </div>
                        <div class="col-xs-9">
                            <h6 class="block-title p-b-5"><%= t('beta.section3.item6.title') %></h6>
                            <p><%= t('beta.section3.item6.text') %></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-b-60">
                <div class="col-xs-8 col-xs-offset-2">
                    <!-- <a href="#" class="btn btn-lg btn-bordered btn-black block-title btn-block">Ready to book?</a> -->
                    <% if user_signed_in? %>
                    <%= link_to t('beta.section3.button'), clean_path, class: "btn btn-lg btn-bordered btn-black block-title btn-block", data: { turbolinks: false } %>
                <% else %>
                    <a class="btn btn-lg btn-bordered btn-black block-title btn-block" href="#" data-toggle="modal" data-target="#modalAuth" data-text="<%= t 'ready_to_book' %>"><%= t('beta.section3.button') %></a>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="col-md-5 hidden-sm">
            <div class="content-mask-md text-center hidden-xs">
                <div class="device_morph pull-center-inner" data-pages="auto-scroll">
                    <%= image_tag 'b_phone.png', class: 'xs-image-responsive-height image-responsive-width' %>
                    <div class="screen">
                        <div class="iphone-border">
                            <%= image_tag 'mobile_preview.png', class: 'image-responsive-height lazy' %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<section class="p-b-30 p-t-30 bg-master-light">
  <div class="container text-center">
    <div class="row">
        <div class="col-sm-4">
            <a href="#" target="_blank">
                <%= image_tag "iwc.png", height: 70 %>
            </a>
        </div>
        <div class="col-sm-4 p-t-20 p-b-20">
            <h6 class="block-title"><%= t('beta.section4.title') %></h6>
        </div>
        <div class="col-sm-4">
            <a href="#" target="_blank">
                <%= image_tag "rosinka.png", height: 70 %>
            </a>
        </div>
    </div>
</div>
</section>

<section class="p-b-50 p-t-50 bg-master-darkest" data-pages-bg-image="<%= image_path 'hero_section_3.jpg' %>" data-bg-overlay="black" data-overlay-opacity="0.4">
  <div class="container">
    <div class="row m-b-40">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <h1 class="text-uppercase text-white">
                <b><%= t('beta.section5.title') %></b>
            </h1>
        </div>
    </div>
    <div class="social-wrapper">
        <!-- START SOCIAL -->
        <div class="social " data-pages="social">
            <div class="feed">
                <!-- START DAY -->
                <div class="day" data-social="day">
                    <!-- START ITEM -->
                    <div class="card share" data-social="item">
                        <div class="circle" data-toggle="tooltip" title="Label" data-container="body"></div>
                        <div class="card-header clearfix">
                            <div class="user-pic">
                                <%= image_tag 'profiles/3.jpg', width: 33, height: 33, src: image_path('profiles/3x.jpg'), data: { src_retina: image_path('profiles/3x.jpg'), src: image_path('profiles/3.jpg') } %>
                            </div>
                            <h5><%= t('beta.section5.customer1.name') %></h5>
                            <h6>
                                <span>
                                    <i class="fa fa-map-marker"></i>
                                    <%= t('beta.section5.customer1.location') %></span>
                            </h6>
                        </div>
                        <div class="card-description">
                            <p><%= t('beta.section5.customer1.text') %></p>
                        </div>
                    </div>
                    <!-- END ITEM -->

                    <!-- START ITEM -->
                    <div class="card share" data-social="item">
                        <div class="circle" data-toggle="tooltip" title="Label" data-container="body"></div>
                        <div class="card-header clearfix">
                            <div class="user-pic">
                                <%= image_tag 'profiles/2.jpg', width: 33, height: 33, src: image_path('profiles/2x.jpg'), data: { src_retina: image_path('profiles/2x.jpg'), src: image_path('profiles/2.jpg') } %>
                            </div>
                            <h5><%= t('beta.section5.customer2.name') %></h5>
                            <h6>
                                <span>
                                    <i class="fa fa-map-marker"></i>
                                    <%= t('beta.section5.customer2.location') %></span>
                            </h6>
                        </div>
                        <div class="card-description">
                            <p><%= t('beta.section5.customer2.text') %></p>
                        </div>
                    </div>
                    <!-- END ITEM -->

                    <!-- START ITEM -->
                    <div class="card share" data-social="item">
                        <div class="circle" data-toggle="tooltip" title="Label" data-container="body"></div>
                        <div class="card-header clearfix">
                            <div class="user-pic">
                                <%= image_tag 'profiles/5.jpg', width: 33, height: 33, src: image_path('profiles/5x.jpg'), data: { src_retina: image_path('profiles/5x.jpg'), src: image_path('profiles/5.jpg') } %>
                            </div>
                            <h5><%= t('beta.section5.customer3.name') %></h5>
                            <h6>
                                <span>
                                    <i class="fa fa-map-marker"></i>
                                    <%= t('beta.section5.customer3.location') %></span>
                            </h6>
                        </div>
                        <div class="card-description">
                            <p><%= t('beta.section5.customer3.text') %></p>
                        </div>
                    </div>
                    <!-- END ITEM -->

                </div>
                <!-- END DAY -->
            </div>
            <!-- END FEED -->
        </div>
    </div>
</div>
</section>

<section class="p-b-50 p-t-50 bg-white b-b b-grey">
  <div class="container">
    <form id="newsletter_form">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h6 class="block-title m-b-0 text-center"><%= t('beta.section6.title') %></h6>
                <h1 class="text-center m-t-5"><%= t('beta.section6.subtitle') %></h1>
                <p class="small hint-text p-t-0 text-center"><%= t('beta.section6.text') %></p>
            </div>
        </div>
        <div class="row m-t-20">
            <div class="col-xs-10 col-sm-6 col-lg-4 col-xs-offset-1 col-sm-offset-3 col-lg-offset-4">

                <div class="form-group form-group-default input-group bg-transparent b-a b-transparent-black">
                    <label class="control-label">Email</label>
                    <input type="email" name="email" id="newsletter_email" class="form-control" placeholder="you@domain.com">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-master m-r-10 btn-cons"><%= t('beta.section6.button') %></button>
                    </span>
                </div>

            </div>
        </div>
    </form>
    <div id="newsletter_message" style="display:none;" class="text-center">
        <i class="fa fa-check fa-4x"></i>
        <h3><%= t('beta.section6.thank_you.title') %></h3>
        <h5 class="block-title"><%= t('beta.section6.thank_you.subtitle') %></h5>
    </div>
</div>
</section>

<%= content_tag :section, class: 'p-t-100 p-b-100 jumbotron', data: { pages: 'parallax', pages_bg_image: image_path('hero_section_2.jpg'), bg_overlay: 'black', overlay_opacity: '0.6' } do %>
  <div class="container-xs-height full-height">
  <div class="col-xs-height col-middle text-left">

      <div class="content-layer">
          <div class="container-xs-height full-height">
              <div class="col-xs-height col-middle text-center">
                  <div class="container">
                      <div class="row m-b-60">
                          <div class="col-md-10 col-md-offset-1">
                              <h6 class="block-title m-b-0 text-center text-white"><%= t('beta.section7.title') %></h6>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-xs-10 col-sm-6 col-md-4 col-xs-offset-1 col-sm-offset-3 col-md-offset-4">
                              <!-- <a href="#" class="btn btn-lg btn-bordered btn-white block-title btn-block">Book a clean</a> -->
                              <% if user_signed_in? %>
                              <%= link_to t('beta.section7.button'), clean_path, class: "btn btn-lg btn-bordered btn-white block-title btn-block", data: { turbolinks: false } %>
                          <% else %>
                              <a class="btn btn-lg btn-bordered btn-white block-title btn-block" href="#" data-toggle="modal" data-target="#modalAuth" data-text="<%= t('book_a_clean') %>"><%= t('beta.section7.button') %></a>
                              <% end %>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>
  <% end %>

  <!-- Modal -->
  <div class="modal fade slide-up disable-scroll" id="callback_modal" tabindex="-1" role="dialog" aria-labelledby="modalSlideUpLabel" aria-hidden="false">
  <div class="modal-dialog ">
      <div class="modal-content-wrapper">
          <div class="modal-content">
              <div class="modal-header clearfix text-left">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                      <i class="pg-close"></i>
                  </button>
              </div>
              <div class="modal-body">
                  <form id="callback_form">
                      <h3 class="text-center block-title m-b-20"><%= t('beta.modal1.title') %></h3>
                      <div class="row">
                          <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                              <div class="form-group form-group-default bg-transparent b-a b-transparent-black">
                                  <label class="control-label"><%= t 'beta.modal1.input' %></label>
                                  <input type="text" name="phone" id="callback_phone" class="form-control" placeholder="Telephone">
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                              <button type="submit" class="btn btn-lg btn-bordered btn-black block-title btn-block"><%= t 'beta.modal1.text' %></button>
                          </div>
                      </div>
                  </form>
                  <div id="callback_message" style="display:none;" class="text-center">
                      <i class="fa fa-check fa-4x"></i>
                      <h3><%= t('beta.modal1.thank_you.title') %></h3>
                      <h5 class="block-title"><%= t('beta.modal1.thank_you.subtitle') %></h5>
                  </div>
              </div>
          </div>
          <!-- /.modal-content -->
      </div>
  </div>
  <!-- /.modal-dialog -->
</div>
