<section class="jumbotron height-70 full-width hero_1" data-pages="parallax">
    <div class="inner full-height">
        <div class="container-xs-height full-height">
            <div class="col-xs-height col-middle text-left">
                <div class="container">
                    <div class="col-sm-8 col-sm-offset-2 sm-m-t-30 sm-p-t-20 sm-p-b-20">
                        <h2 class="dark text-center text-black xs-p-t-30 sm-p-b-30">
                            <%= raw t('home.section1.text1') %>
                        </h2>
                        <div class="text-center m-t-30 col-md-8 col-md-offset-2">
                            <!-- <%= link_to t('menu.order'), clean_path, { class: 'btn btn-lg btn-primary btn-cons btn-block text-white', data: { turbolinks: false } }%> -->
                            <button class="btn btn-lg btn-primary btn-cons btn-block text-white" data-toggle="modal" data-target="#orderModal"><%= t('menu.order') %></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="row p-t-50 p-b-50">
        <div class="col-sm-3 text-center">
            <i class="fa fa-4x fa-clock-o"></i>
            <h4 class="m-t-10"><%= t('home.section2.text1') %></h4>
        </div>
        <div class="col-sm-3 text-center">
            <i class="fa fa-4x fa-shield"></i>
            <h4 class="m-t-10"><%= t('home.section2.text2') %></h4>
        </div>
        <div class="col-sm-3 text-center">
            <i class="fa fa-4x fa-credit-card"></i>
            <h4 class="m-t-10"><%= t('home.section2.text3') %></h4>
        </div>
        <div class="col-sm-3 text-center">
            <i class="fa fa-4x fa-language"></i>
            <h4 class="m-t-10"><%= t('home.section2.text4') %></h4>
        </div>
    </div>
</section>

<section class="p-b-100 p-t-100 bg-master-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h6 class="block-title m-b-0 text-white text-center"><%= t('home.section3.text1') %></h6>
                <h1 class="text-white text-center m-t-5"><%= t('home.section3.text2') %></h1>
                <!-- <p class="small hint-text p-t-0 text-white text-center ">We value your privacy. None of the details supplied will be shared with external parties</p> -->
                <div class="form-group form-group-default input-group  m-t-40 bg-transparent b-a b-transparent-white">
                    <label>Email</label>
                    <input type="email" id="subscribeEmail" class="form-control text-white" placeholder="example@mailserver.com">
                    <span class="input-group-btn">
                        <button id="subscribeButton" class="btn btn-primary m-r-10 btn-cons" type="button"><%= t('home.section3.text3') %></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="p-b-100 p-t-100">
    <h3 class="text-center"><%= t('home.section4.text1') %></h3>
    <div class="row m-t-50">
        <div class="col-sm-4 text-center">
            <h1>1</h2>
            <h4 class="m-t-10"><%= t('home.section4.text2') %></h4>
        </div>
        <div class="col-sm-4 text-center">
            <h1>2</h2>
            <h4 class="m-t-10"><%= t('home.section4.text3') %></h4>
        </div>
        <div class="col-sm-4 text-center">
            <h1>3</h2>
            <h4 class="m-t-10"><%= t('home.section4.text4') %></h4>
        </div>
    </div>
    <div class="row m-t-50">
        <div class="col-sm-6 col-sm-offset-3 text-center">
            <!-- <%= link_to t('home.section4.text5'), clean_path, { class: 'btn btn-lg btn-primary btn-cons btn-block text-white', data: { turbolinks: false } }%> -->
            <button class="btn btn-lg btn-primary btn-cons btn-block text-white" data-toggle="modal" data-target="#orderModal"><%= t('home.section4.text5') %></button>
        </div>
    </div>
</section>
