<div class="container m-t-90 p-t-30">

  <ul class="no-style list-inline">
    <li><%= link_to 'Bookings', admin_bookings_path %></li>
    <li><%= link_to 'Professionals', admin_professionals_path %></li>
    <li><%= link_to 'Promos', admin_promos_path %></li>
  </ul>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title col-xs-12">
                Professionals (<%= Professional.count %>)
                <span class="pull-right">
                    <%= link_to "Add New", new_admin_professional_path, class: 'btn btn-primary' %>
                </span>
            </div>
        </div>
        <div class="panel-body">
            <div class="table-responsive col-xs-12">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Created At</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @professionals.each do |professional| %>
                        <tr>
                            <td><%= professional.fullname %></td>
                            <td><%= professional.status %></td>
                            <td><%= professional.created_at %></td>
                            <td><%= link_to 'Edit', edit_admin_professional_path(professional) %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
