<%= f.label "frequency_#{value}", id: "label_cart_frequency_#{value}", class: "panel panel-default text-center full-width bg-master-lightest" do %>
<%= f.radio_button :frequency, value, class: "hide", data: { name: t(value) } %>

<div class="panel-heading separator">
    <div class="panel-title">
        <%= t(value) %>
    </div>
</div>
<div class="panel-body">
    <div class="frequency-panel-price separator">
        <h1><%= price %>
            <small>₽/<%= t('hr') %></small>
        </h1>
    </div>
<!--     <% if value.to_s != 'once' %>
      <ul class="list-unstyled small">
          <li><%= t('freq.b1') %></li>
          <li><%= t('freq.b2') %></li>
      </ul>
    <% end %> -->
    <!-- <i class="fa fa-2x fa-check-circle"></i> -->
    <!-- <i class="fa fa-2x fa-circle-thin"></i> -->
</div>
<% end %>
