<div class="row">
    <div class="col-md-4">
        <%= render 'carts/panels/overview' %>
    </div>
    <div class="col-md-4">
        <%= render 'carts/panels/products' %>
    </div>
    <div class="col-md-4">
        <%= render 'carts/panels/discounts' %>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <%= render 'carts/panels/line_items' %>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <%= render 'carts/panels/discount_items' %>
    </div>
</div>
