<div class="hide-wrapper hide">
  <input type="radio" name="cart[frequency]" value="<%=@cart.frequency%>" data-name="<%= t(@cart.frequency) %>" checked="checked">
  <input type="hidden" name="cart[date]" value="<%= @cart.date %>" >
  <input type="hidden" name="cart[time]" value="<%= @cart.time %>" >
  <input type="hidden" name="cart[duration]" value="<%= @cart.duration %>" >
</div>
