<%= form_for discount, html: { class: 'form-horizontal' } do |f| %>
  <%= render partial: 'dashboard/errors', locals: { object: discount } %>

  <% Discount.globalize_locales.each do |locale| %>
  <div class="form-group">
      <%= f.label locale, class: 'col-xs-2 control-label' %>
      <div class="col-md-4">
          <%= f.text_field "name_#{locale}", class: 'form-control', placeholder: t('.placeholder.name') %>
      </div>
      <div class="col-md-6">
          <%= f.text_field "description_#{locale}", class: 'form-control', placeholder: t('.placeholder.description') %>
      </div>
  </div>
  <% end %>

  <div class="form-group">
      <%= f.label :category, class: 'col-xs-2 control-label' %>
      <div class="col-xs-10">
        <div class="radio radio-primary">
          <%= f.collection_radio_buttons :category, Discount.categories, :first, :first %>
        </div>
      </div>
  </div>

  <div class="form-group">
      <%= f.label :coupon, class: 'col-xs-2 control-label' %>
      <div class="col-xs-10 col-sm-2">
        <%= f.text_field :coupon, class: 'form-control', placeholder: t('.placeholder.coupon') %>
      </div>
  </div>

  <div class="form-group">
      <%= f.label :discount_type, class: 'col-xs-2 control-label' %>
      <div class="col-xs-10">
        <div class="radio radio-primary">
          <%= f.collection_radio_buttons :discount_type, Discount.discount_types, :first, :first %>
        </div>
      </div>
  </div>

  <div class="form-group">
      <%= f.label :amount, class: 'col-xs-2 control-label' %>
      <div class="col-xs-10 col-sm-2">
        <%= f.text_field :amount, class: 'form-control', placeholder: t('.placeholder.amount') %>
      </div>
  </div>

  <br>
  <div class="row">
      <%= link_to 'Back', discounts_path, class: 'btn btn-danger' %>
      <%= f.submit class: 'btn btn-primary pull-right' %>
  </div>
  <% end %>
