<!-- Modal -->
<div class="modal fade slide-up disable-scroll" id="modalAuth" tabindex="-1" role="dialog" aria-labelledby="modalSlideUpLabel" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content-wrapper">
      <div class="modal-content">
        <div class="modal-header clearfix text-left">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="pg-close fs-14"></i>
          </button>
        </div>
        <div class="modal-body m-t-20">

          <div class="row">


            <div class="col-sm-6">
              <h4 class="text-center"><%= t('new_customer') %></h4>
              <%= link_to t('i_am_new'), clean_path, class: 'btn btn-success btn-block m-t-60 m-b-60', data: { turbolinks: false } %>
            </div>

            <div class="col-sm-6 b-l b-transparent">
              <h4 class="text-center"><%= t('existing_customer') %></h4>

              <%= form_for :user, url: user_session_path do |f| %>
              <div class="form-group form-group-default required">
                <%= f.label :email %>
                <%= f.email_field :email, autofocus: true, class: "form-control" %>
              </div>

              <div class="form-group form-group-default required">
                <%= f.label :password %>
                <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
              </div>

              <div class="actions">
                <%= f.submit t('login'), class: 'btn btn-primary btn-block' %>
              </div>
              <% end %>

              <div class="m-t-20 text-center">
                <small><%= link_to t("forgot_your_password"), new_user_password_path, class: 'text-master text-uppercase', data: { turbolinks: false } %></small>
              </div>

            </div>

          </div>


        </div>
      </div>
      <!-- /.modal-content -->
    </div>
  </div>
  <!-- /.modal-dialog -->
</div>
