<%= form_for [:admin, @user], html: { class: "form-horizontal" } do |f| %>

  <div class="form-group">
    <%= f.label :firstname, class: "col-sm-4 control-label" %>
    <div class="col-sm-8">
      <%= f.text_field :firstname, class: 'form-control', readonly: @readonly %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :lastname, class: "col-sm-4 control-label" %>
    <div class="col-sm-8">
      <%= f.text_field :lastname, class: 'form-control', readonly: @readonly %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :phone, class: "col-sm-4 control-label" %>
    <div class="col-sm-8">
      <%= f.text_field :phone, class: 'form-control', readonly: @readonly %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-4">
      <%= f.label :email, class: "control-label" %>
      <p class="text-danger small">Warning: Modifying this could break Payture.</p>
    </div>
    <div class="col-sm-8">
      <%= f.text_field :email, class: 'form-control', readonly: @readonly %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-4">
      <%= f.label :payture_token, class: "control-label" %>
      <p class="text-danger small">Warning: Modifying this could break Payture.</p>
    </div>
    <div class="col-sm-8">
      <%= f.text_field :payture_token, class: 'form-control', readonly: @readonly %>
    </div>
  </div>


  <% unless @readonly %>
  <div class="form-group">
    <div class="col-sm-8">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  </div>
  <% end %>

<% end %>
