<!DOCTYPE html>
<html>
    <head>
        <%= csrf_meta_tags %>
        <%= yield :head %>
        <%= stylesheet_link_tag 'dashboard', media: :all, data: { turbolinks: { track: true } } %>
    </head>

    <body class="fixed-header menu-pin">
        <%= render partial: 'dashboard/sidebar' %>
        <div class="page-container">
            <%= render partial: 'dashboard/header' %>
            <div class="page-content-wrapper">
                <div class="content">
                    <%= render partial: 'dashboard/breadcrumbs' %>
                    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
                        <%= render partial: 'dashboard/notice' %>
                        <%= yield %>
                    </div>
                </div>
            </div>
        </div>
        <%= render partial: 'dashboard/quickview' %>
        <%= render partial: 'dashboard/overlay' %>
        <%= javascript_include_tag 'dashboard', data: { turbolinks: { track: true, eval: true } } %>
    </body>
</html>
