<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <link rel="apple-touch-icon" href="<%= image_path 'ico/shiny_icon_new_60.png' %>">
        <link rel="apple-touch-icon" sizes="76x76" href="<%= image_path 'ico/shiny_icon_new_76.png' %>">
        <link rel="apple-touch-icon" sizes="120x120" href="<%= image_path 'ico/shiny_icon_new_120.png' %>">
        <link rel="apple-touch-icon" sizes="152x152" href="<%= image_path 'ico/shiny_icon_new_152.png' %>">
        <%= favicon_link_tag 'ico/favicon.ico', type: 'image/x-icon' %>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-touch-fullscreen" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="default">

        <%= content_tag :title, t('beta.seo.title') %>
        <%= content_tag :meta, nil, content: t('beta.seo.description')  , name: :description %>
        <%= content_tag :meta, nil, content: t('beta.seo.author')       , name: :author %>

        <!-- OpenGraph Properties -->
        <%= content_tag :meta, nil, content: '1632559623677969'             , property: 'fb:app_id' %>
        <%= content_tag :meta, nil, content: t('beta.facebook.title')       , property: 'og:title' %>
        <%= content_tag :meta, nil, content: t('beta.facebook.description') , property: 'og:description' %>
        <%= content_tag :meta, nil, content: :website                       , property: 'og:type' %>
        <%= content_tag :meta, nil, content: 'http://www.getshiny.ru/'      , property: 'og:url' %>
        <%= content_tag :meta, nil, content: image_url('ico/shiny-og.jpg')  , property: 'og:image' %>
        <%= content_tag :meta, nil, content: I18n.locale.to_s               , property: 'og:locale' %>
        <%= content_tag :meta, nil, content: :en                            , property: 'og:locale:alternate' if I18n.locale == :ru %>
        <%= content_tag :meta, nil, content: :ru                            , property: 'og:locale:alternate' if I18n.locale == :en %>
        <%# I18n.available_locales.each do |locale| %>
          <%# content_tag :meta, nil, content: locale.to_s                  , property: 'og:locale:alternate' %>
        <%# end %>


        <%= stylesheet_link_tag "frontend", media: "all" %>
        <%= csrf_meta_tags %>
        <%= yield :head %>
        <%= render './facebook' %>
    </head>

    <body>
        <%= render partial: 'headers/frontend' %>
        <%= yield %>
        <%= render partial: 'footers/frontend' %>
        <%= javascript_include_tag "frontend" %>
    </body>
</html>
