<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
        <meta charset="utf-8"/>
        <title>Shiny - Home cleaning in Moscow, Russia</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <link rel="apple-touch-icon" href="<%= image_path 'ico/shiny_icon_new_60.png' %>">
        <link rel="apple-touch-icon" sizes="76x76" href="<%= image_path 'ico/shiny_icon_new_76.png' %>">
        <link rel="apple-touch-icon" sizes="120x120" href="<%= image_path 'ico/shiny_icon_new_120.png' %>">
        <link rel="apple-touch-icon" sizes="152x152" href="<%= image_path 'ico/shiny_icon_new_152.png' %>">
        <%= favicon_link_tag 'ico/favicon.ico', type: 'image/x-icon' %>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-touch-fullscreen" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="default">

        <meta content="" name="description"/>
        <meta content="Shiny" name="author"/>
        <!-- OpenGraph Properties -->
        <meta property="og:title" content="Shiny" />
        <meta property="og:description" content="Home cleaning in Moscow, Russia" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://www.getshiny.ru/" />
        <meta property="og:image" content="<%= image_url 'ico/shiny_og_new.png' %>" />


        <%= stylesheet_link_tag "frontend", media: "all" %>
        <%= csrf_meta_tags %>
        <%= yield :head %>
        <%= render './facebook' %>
    </head>

    <body>
        <%= render partial: 'headers/frontend' %>
        <%= yield %>
        <%= render partial: 'footers/frontend' %>
        <%= javascript_include_tag "frontend" %>
    </body>
</html>
