<!DOCTYPE html>
<html>
    <head>
        <%= stylesheet_link_tag "frontend", media: "all" %>
        <%= csrf_meta_tags %>
        <%= yield :head %>
    </head>

    <body>
        <%= render partial: 'headers/frontend' %>
        <%= yield %>
        <%= render partial: 'footers/frontend' %>
        <%= javascript_include_tag "frontend" %>
    </body>
</html>
