<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <%= stylesheet_link_tag 'email' %>
    </head>

    <body itemscope itemtype="http://schema.org/EmailMessage">
        <table class="body-wrap">
            <tr>
                <td></td>
                <td class="container" width="600">
                    <div class="content">
                        <!-- <div class="header">
                            <table width="100%">
                                <tr>
                                    <td class="aligncenter content-block">
                                        <%= image_tag 'shiny.png', width: 150 %>
                                    </td>
                                </tr>
                            </table>
                        </div> -->
                        <table class="main" width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope itemtype="http://schema.org/ConfirmAction">
                            <tr>
                                <td class="content-wrap">
                                    <meta itemprop="name" content="Confirm Email"/>
                                    <%= yield %>
                                </td>
                            </tr>
                        </table>
                        <div class="footer">
                            <table width="100%">
                                <tr>
                                    <td class="aligncenter content-block">
                                        <%= t('follow') %><%= link_to ENV['INSTAGRAM_ID'], ENV['INSTAGRAM_URL'] %>.
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </td>
            <td></td>
        </tr>
    </table>
</body>
</html>
