<!DOCTYPE html>
<html>
    <head>
        <%= csrf_meta_tags %>
        <%= yield :head %>
    </head>

    <body>
        <%= link_to :products, products_path %> |
        <%= link_to :carts, carts_path %> |
        <%= link_to :line_items, line_items_path %>
        <%= yield %>
    </body>
</html>
